<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista della Spesa</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="js/script.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <div>
                <h1>Lista della Spesa</h1>
                <button v-if="editing" @click="doEdit(false)">Cancella</button>
                <button v-else @click="doEdit(true)">Aggiungi Elemento</button>
            </div>
            <form @submit.prevent="saveItem" v-if="editing">
                <input type="text" placeholder="Aggiungi un elemento..." v-model.trim="newItem">
                <label for="priority">High Priority</label>
                <input type="checkbox" id="priority" v-model="newitemHighPriority">
                <button :disabled="items.length === 0">Salva Elemento</button>
            </form>
            
            <p v-if="items.length === 0">Ben fatto! Hai comprato tutti gli elementi!</p>
            <ul>
                <li v-for="item in items" :key="item.id">{{item.label}}</li>
            </ul>
        </header>
    </div>
</body>
</html>